html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', Verdana, sans-serif;
  @include font(1.6rem, 2.6rem, 400, $color-text);
  font-style: normal;
}

h1 {
  @extend %font-add;
  @include font(4.4rem, 5.4rem);
  @include media-mob {
    @include font(3.2rem, 4.2rem);
  }
}

h2 {
  @include font(3.4rem, 4.6rem);
  @include media-mob {
    @include font(2.4rem, 3.3rem);
  }
}

h3 {
  @include font(2.4rem, 3.4rem);
  @include media-mob {
    @include font(2.1rem, 3.1rem);
  }
}

h4 {
  @include font(2.2rem, 3rem, 600);
  @include media-mob {
    @include font(2rem, 2.7rem);
  }
}

h5 {
  @include font(2rem, 3rem, 600);
  @include media-mob {
    @include font(1.8rem, 3rem);
  }
}

h6 {
  @include font(1.6rem, 2.6rem);
}

// -------
a,
button {
  @extend %transition;
}

a:hover {
  color: $color-primary;
}
