$color-primary: #ff9900;
$color-active: #ff7549;
$color-bg: #ffeee1;
$color-links: #1943ef;
$color-title: #2f281e;
$color-text: #544837;
$color-text-btn: #173a56;
$color-hover-btn: #bcd0e5;
$color-tag: #f5f5f5;
$color-border: #d7d7d7;
$color-placeholder: #c6c6c6;
$color-overlay: rgba(80, 80, 80, 0.5);
$color-light: #ffffff;

$color-violet: #7752be;
$color-yellow: #fab005;
$color-red: #f03e3d;
$color-blue: #4dadf7;

$wrapper-width: 1290px;
$content-width: 1198px;
