.burger {
  display: none;

  @include media-lap {
    display: block;
    width: 31px;
    height: 25px;
    margin-right: 37px;
    background: url('img/icons/burger.svg') no-repeat;
    background-size: contain;
    cursor: pointer;
  }

  @include media-mob {
    width: 27px;
    height: 22px;
    margin-right: 61px;
  }
}
