.button {
  padding: 10px;
  @include font(1.6rem, 2.2rem, 600);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;

  &_bordered {
    color: $color-text-btn;
    background: $color-light;
    border: 1px solid $color-hover-btn;
    &:hover {
      background: $color-hover-btn;
    }
  }

  &_colored {
    color: $color-light;
    background: $color-primary;
    &:hover {
      background: $color-active;
    }
  }
}

.link-button {
  display: flex;
  align-items: center;
  gap: 9px;
  @extend %font-add;
  font-weight: 600;
  color: $color-primary;
  text-decoration: underline;

  &:hover {
    color: $color-active;

    .ico_play {
      background: url('img/icons/play-hov.svg') no-repeat;
    }
  }
}
