.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color-overlay;
  opacity: 0;
  transition: 0.5s;

  &_active {
    opacity: 1;
  }
}

.modal {
  position: relative;
  width: 676px;
  max-width: 92%;
  max-height: 92%;
  color: $color-title;
  background: $color-light;
  box-shadow: 0px 15px 32px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: auto;
  @extend %custom-scroll;
}

.modal__pic {
  position: relative;
  width: 100%;
  padding-top: calc(357px / 675px * 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal__content {
  padding: 25px 40px 40px;
}

.modal__date {
  margin-bottom: 5px;
  font-size: 1.3rem;
}

.modal__title {
  margin-bottom: 9px;
}

.modal__text {
  margin-bottom: 15px;
}

.modal__tags .tag {
  cursor: default;
}

.modal__close-button {
  position: absolute;
  top: 23px;
  right: 21px;
  width: 31px;
  height: 31px;
  padding: 5px;
  background: url('img/icons/close.svg') no-repeat center center;
  background-size: 21px 21px;
  cursor: pointer;
  @extend %transition;

  &:hover {
    opacity: 0.7;
    transform: rotate(90deg) scale(1.1);
  }
}
