.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 7px;
}

.tag {
  height: 28px;
  padding: 0 14px;
  font-size: 1.3rem;
  background: $color-light;
  border: 1px solid $color-light;
  border-radius: 90px;
  cursor: pointer;
  @extend %transition;

  &_selected {
    color: $color-light;
    background: $color-primary;
    border-color: $color-primary;
  }

  &_bordered {
    border-color: $color-border;
  }

  &_colored {
    background: $color-tag;
    border-color: $color-tag;
  }
}
