.header {
  padding: 15px 0 17px;
  background: $color-light;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

  @include media-mob {
    padding: 20px 0;
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-lap {
    padding-left: 24px;
    justify-content: flex-start;
  }
}

.header__logo {
  @include media-mob {
    width: 158px;
    height: 27px;
  }
}

.header__menu {
  margin-right: 55px;

  @include media-lap {
    display: none;
  }
}

.header__buttons {
  display: flex;
  gap: 15px;

  @include media-lap {
    margin-left: auto;
  }

  @include media-mob {
    display: none;
  }

  .button {
    min-height: 46px;
    padding: 10px 26px;

    &:last-child {
      min-width: 113px;
    }
  }
}
