.promo {
  padding: 29px 0;
  @include media-tab {
    padding: 0;
  }
}

.promo__wrapper {
  display: flex;
  overflow-x: hidden;
  @include media-mob {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.promo__content {
  flex-basis: 553px;
  flex-shrink: 0;
  padding-top: 83px;
  padding-right: 66px;

  @include media-lap {
    flex-basis: 390px;
    padding-top: 46px;
    padding-right: 0px;
  }
  @include media-mob {
    flex-basis: auto;
    padding: 0;
    text-align: center;
  }
}

.promo__title {
  margin-bottom: 30px;
  @include media-tab {
    margin-bottom: 26px;
  }
  @include media-mob {
    margin-bottom: 9px;
  }
}

.promo__text {
  max-width: 487px;
  margin-bottom: 56px;
  @extend %font-add;
  font-size: 1.8rem;
  line-height: 2.8rem;
  @include media-mob {
    max-width: 100%;
    margin-bottom: 32px;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.promo__buttons {
  display: flex;
  align-items: center;
  gap: 44px;
  @include media-mob {
    flex-direction: column;
    gap: 24px;
  }

  .button {
    min-width: 174px;
    min-height: 53px;
    font-weight: 700;
  }
}

.promo__img {
  @include media-tab {
    width: 592px;
    margin-top: -5px;
    margin-left: -13px;
  }
  @include media-mob {
    max-width: 100%;
    width: 280px;
    margin-top: 12px;
    margin-left: 0;
    margin-bottom: 16px;
  }
}
