.tools__wrapper {
  padding-top: 82px;
  padding-bottom: 90px;
  background: url('img/tools/tools-bg.svg') no-repeat center bottom;
  background-size: 103%;

  @include media-lap {
    padding-top: 78px;
    padding-bottom: 53px;
  }
  @include media-mob {
    padding-top: 48px;
    padding-bottom: 47px;
  }
}

.tools__title {
  max-width: 462px;
  margin: 0 auto 70px;
  text-align: center;

  @include media-lap {
    margin-bottom: 51px;
  }
  @include media-mob {
    margin-bottom: 43px;
  }
}

.tools__container {
  @include flex(260px);
  margin-bottom: 60px;

  @include media-lap {
    justify-content: center;
    gap: 54px 10%;
    margin-bottom: 54px;
  }

  @include media-tab {
    justify-content: space-between;
  }

  @include media-mob {
    justify-content: center;
    row-gap: 46px;
    margin-bottom: 38px;
  }

  .tool {
    @include media-lap {
      flex-basis: 45%;
      max-width: 350px;
      text-align: center;
    }
    @include media-tab {
      max-width: 270px;
    }
    @include media-mob {
      flex-basis: 100%;
      max-width: 377px;
    }
  }
}

.tools__button {
  text-align: center;

  .button {
    min-width: 170px;
    min-height: 53px;
    @include media-mob {
      min-width: 174px;
    }
  }
}

// Tool block

.tool__icon {
  margin-bottom: 30px;
  @include media-lap {
    margin-bottom: 20px;
  }
  @include media-mob {
    margin-bottom: 11px;
  }
}

.tool__title {
  margin-bottom: 16px;
  @include media-lap {
    margin-bottom: 6px;
  }
  @include media-mob {
    margin-bottom: 0;
  }
}
