.contact {
  padding: 61px 0 81px;
  background: $color-bg;

  @include media-lap {
    text-align: center;
    padding: 48px 0 50px;
  }
  @include media-mob {
    padding: 34px 0 49px;
  }
}

.contact__container {
  display: flex;
  justify-content: center;
  gap: 91px;

  @include media-lap {
    flex-wrap: wrap;
    gap: 53px;
  }
  @include media-mob {
    gap: 41px;
  }
}

.contact__content {
  flex-basis: 528px;
  @include media-lap {
    flex-basis: auto;
  }
}

.contact__form {
  flex-basis: 577px;
  @include media-lap {
    flex-basis: 675px;
  }
  @include media-tab {
    flex-basis: 100%;
  }
}

.contact__title {
  margin-bottom: 17px;
  @include media-mob {
    margin-bottom: 8px;
  }
}

.contact__text {
  margin-bottom: 33px;
  @include media-lap {
    margin-bottom: 26px;
  }
  @include media-mob {
    margin-bottom: 24px;
  }
}

.contact__links {
  display: flex;
  flex-direction: column;
  gap: 22px;
  font-size: 2.5rem;
  line-height: 2.5rem;
  @include media-lap {
    align-items: center;
  }
  @include media-mob {
    gap: 17px;
    font-size: 2rem;
    line-height: 2.6rem;
  }

  p {
    display: flex;
    align-items: center;
  }

  .ico {
    width: 25px;
    height: 25px;
    margin-right: 11px;
    background-color: $color-light;
    border-radius: 50%;
    @include media-mob {
      width: 19px;
      height: 19px;
    }
  }
}
